@import "styles/colors";

.collapsible {
  background-color: $Crayola;
  color: $Black;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 10px;
  text-align: left;
  outline: none;
  font-size: 15px;
  cursor: pointer;

  &.open {
    border-radius: 10px 10px 0 0;
  }
}

.content {
  padding: 0 18px;
  max-height: 0;
  border-radius: 0 0 10px 10px;
  background-color: $Cornsilk;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
