@import "styles/constantes.scss";

.root {
  background-color: transparent;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.primary {
  background-color: $Crayola;
  border: 1px solid $White;
  color: $Cornsilk;
}

.secondary {
  background-color: $Cornsilk;
  border: 1px solid $Crayola;
  color: $Crayola;
}

.tertiary {
  background-color: $PastelGray;
  border: 1px solid $Cornsilk;
}

.large {
  padding: 15px 40px;
}

.medium {
  padding: 10px 30px;
}

.small {
  padding: 5px 20px;
}
