@import "/styles/constantes.scss";
@import "/styles/breakpoints.scss";

.link {
  text-decoration: underline;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  background-color: $Unbleached;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  .title {
    text-align: center;
    font-size: 24px;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .subtitle {
      font-size: 20px;
      text-decoration: underline;
    }
  }
}
