@import "/styles/colors.scss";
@import "/styles/breakpoints.scss";

.root {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 52px;

  @media screen and (max-width: $medium) {
    gap: 32px;
  }

  @media screen and (max-width: $small) {
    gap: 12px;
  }

  .section-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
  }

  .section-content {
    position: relative;
    padding: 20px;
    background-color: $White;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-image: url("/images/background.png");

    &.selected {
      animation: fadeIn 0.5s ease-in-out forwards;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
