@import "/styles/colors.scss";
@import "/styles/breakpoints.scss";

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/images/background.png");
  height: 100vh;

  .title {
    margin-top: 20px;
    font-size: 20px;
  }

  .description {
    font-size: 14px;
    text-align: justify;
  }

  .video {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 10px;
  }
}
