@import "/styles/colors.scss";
@import "/styles/breakpoints.scss";

.root {
  .section {
    padding: 20px 40px;

    @media screen and (max-width: $medium) {
      padding: 0 20px;
    }

    @media screen and (max-width: $small) {
      padding: 10px;
    }
  }

  .parralax {
    height: 30vh;
    background-image: url("/images/outside/portrait-professionnel-068.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: $medium) {
      justify-content: center;
      background-position: 70%;
      background-attachment: scroll;
    }
  }
}
