@import "/styles/constantes.scss";
.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 12px;
  background-color: $Crayola;

  .social-media-container {
    display: flex;
    align-items: center;
    gap: 12px;

    .icon {
      width: 30px;
      height: 30px;
    }
  }
}
