@import "/styles/colors.scss";

.root {
  position: relative;

  .menu-mobile-container {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    background-color: $PastelGray;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);

    .menu-mobile {
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      & > *:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .menu-open {
    transform: translateX(0);
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $Black;
    opacity: 0;
  }
}
