@import "/styles/constantes.scss";

.root {
  position: relative;

  .menu-mobile-container {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    background-color: $Crayola;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    border-right: 1px solid $White;

    .menu-mobile {
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: fit-content;
      width: 100%;

      .logo {
        width: 80px;
        height: 80px;
      }

      & > *:not(:last-child) {
        margin-bottom: 20px;
      }

      .link {
        color: $BlanchedAlmond;
      }
    }
  }

  .menu-open {
    transform: translateX(0);
  }

  .background {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $Black;
    opacity: 0;
  }
}
