$borderRadius: 12px;

$PastelGray: #ccd5ae;
$DirtyWhite: #e9edc9;
$Cornsilk: #fefae0;
$BlanchedAlmond: #faedcd;
$Crayola: #d4a373;
$Unbleached: #fbf7f5;
$White: #ffffff;
$Black: #000000;
$tmp2: #ffd9af;
$mainColor: #ffe7cc;
$DarkGray: rgb(119, 119, 119);
